services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"

  frontend:
    build: ./client
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true

    # depends_on:
    #   - backend