catboost
fastparquet
imbalanced-learn
lightgbm
mlflow
numpy==1.26.4
pandas
pyarrow
pyreadstat
ray-tune
scikit-learn
shap
xgboost

fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
requests
evidently
